@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

:root{
    --bg-color:#FBA1B7;
    --primary-color: #151515;
    --secondary-color: #B4B4B8;
    --font:"Nunito Sans",sans-serif;

}  
