@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-color:#FBA1B7;
    --primary-color: #151515;
    --secondary-color: #B4B4B8;
    --font:"Noto Serif",sans-serif;
}  

body{
    background-color: var(--bg-color);
    color:var(--primary-color);
    font-family: var(--font);
}